* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #10375c;
    --text-color: #575f66;
    --white-color: #fff;
    --text-color-p: #c9d2da;
    --btn-height: 60px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Sora", "sans-serif";
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    min-width: 205px;
    padding: 0 20px;
    border-radius: 99px;
    background: #2e80ce;
    display: inline-block;
    text-align: center;
    color: var(--white-color);
    font-weight: 400;
    font-size: 1.6em;
    height: var(--btn-height);
    line-height: var(--btn-height);
}
