.header {
    height: 800px;
    background-color: var(--primary-color);
}

.logo {
    font-size: 1em;
    position: relative;
    display: flex;
}

.header-top {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img::before,
.logo__img::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__img::before {
    width: 3em;
    height: 3em;
    background-color: #2e80ce;
}

.logo__img::after {
    left: 1.1em;
    top: 1.1em;
    width: 1.5em;
    height: 1.5em;
    background-color: var(--white-color);
    position: absolute;
    bottom: 5px;
}

.logo__text {
    color: var(--white-color);
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    font-size: 1.8em;
    font-weight: 400;
    display: block;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    font-size: 1.6em;
}

.navbar__item {
    display: inline-block;
    position: relative;
}

.navbar__link {
    color: var(--text-color-p);
    display: block;
    padding: 17px;
    font-weight: 300;
}

.navbar__item.active .navbar__link {
    position: relative;
    color: var(--white-color);

    font-weight: 400;
}

.navbar__item.active .navbar__link::before {
    position: absolute;
    width: 6px;
    height: 6px;
    content: "";
    display: block;
    background-color: var(--white-color);
    border-radius: 50%;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__action {
    display: flex;
    align-items: center;
}

.btn--login {
    background-color: transparent;
    color: var(--text-color);
    font-size: 1.6em;
    font-weight: 300;
    min-width: 29px;
    padding: 0 28px;
}

.btn--signup {
    --btn-height: 40px;
    min-width: 104px;
}

.btn--signup:hover {
    opacity: 0.9;
}

.header-foot {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.header__info {
    width: 44%;
}

.header__title {
    color: var(--white-color);
    font-size: 7em;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}

.header__desc {
    margin-top: 22px;
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1.7;
    color: #c9d2da;
}

.header-foot__action {
    margin-top: 53px;
    display: flex;
    align-items: center;
}

.btn-book {
    min-width: 205px;
    border-radius: 30px;
    height: 60px;
    font-size: 1.8rem;
}

.btn-book:hover {
    opacity: 0.9;
}

.header-foot__action--contact {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
}

.header__images {
    flex-grow: 1;
    margin-left: 133px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__img-item {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.header__img-item:first-child {
    margin-right: -6px;
    z-index: 1;
}

.header__img-item--small {
    width: 210px;
    height: 410px;
}

.services__item {
    width: 470px;
    border-radius: 10px;
    background-color: var(--white-color);
    padding: 22px;
}

.services__item-image {
    fill: #10375c;
}

.services__images {
    width: 48.78%;
}

.services__img {
    width: 100%;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service-row {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
}

.Services {
    padding: 170px 0;
}

.section-heading {
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
}

.section-desc {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.7;
    max-width: 468px;
    margin-top: 18px;
}

.section-heading--center {
    text-align: center;
}
.section-desc--center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.services__item-content {
    --currentColor: #10375c;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #eff6fd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 0.25s;
}

.services__item-title {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.services__item-desc {
    margin-top: 8px;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.services__item {
    display: flex;
    justify-content: space-between;
    transition: 0.25s;
}

.services__item-info {
    margin-left: 19px;
}

.btn-service {
    margin-top: 55px;
}

.btn-service:hover {
    opacity: 0.9;
}

.services__item:hover {
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.services__item:hover .services__item-content {
    background-color: #2e80ce;
    color: #fff;
}

/* works */
.works {
    padding: 100px 0;
    background-color: #f6fbff;
}

.works__list {
    margin-top: 86px;
    display: flex;
    gap: 30px;
}

.works__item {
    flex: 1;
    padding: 42px;
    border: 16px solid #eaf6ff;
}

.works__heading {
    margin-top: 18px;
    color: var(--primary-color);
    font-size: 2.6rem;
    font-weight: 600;
}

.works__desc {
    margin-top: 28px;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 300;
    line-height: 1.75;
}

.works__link {
    display: inline-block;
    margin-top: 18px;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.works__item:hover {
    transform: translateY(-10px);
    border-color: #2e80ce;
}

.works__item:hover .works__link {
    color: #2e80ce;
}

.benefit {
    padding: 170px 0;
}

.benefit__images {
    width: 48%;
    position: relative;
    padding-bottom: 121px;
    flex-shrink: 0;
}

.benefit__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 130px;
}

.benefit__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.benefit__img--small {
    width: 332px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.btn-benefit {
    margin-top: 53px;
}

/* dentist */

.btn-dentist {
    margin-top: 38px;
}

.align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-dentist:hover {
    opacity: 0.9;
}

.dentist {
    padding: 170px 0;
    text-align: center;
}

.dentist__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.dentist__item:hover .dentist__img {
    transform: scale(1.1);
    transition: 0.3s;
}

.dentist__img-bk {
    border-radius: 6px;
    padding-top: 28px;
    background-color: #eaf6ff;

    overflow: hidden;
}

.dentist__img {
    max-width: 100%;
    height: 290px;
    object-fit: cover;
}

.dentist__name {
    margin-top: 12px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8;
}

.dentist__title {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85;
}

.dentist__control {
    margin-top: 38px;
}

.entist__control-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    outline: none;
    border: 1px solid rgb(24, 24, 24);
}

.entist__control-btn + .entist__control-btn {
    margin-left: 18px;
}

.entist__control-btn:hover {
    cursor: pointer;
    background-color: #2e80ce;
    color: #ffffff;
}

/* install */

.install {
    padding-top: 95px;
}

.install-content {
    padding: 0 70px;
    border-radius: 4px;
    background: #2e80ce;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.install__img {
    margin-top: -95px;
    width: 284px;
    height: 522px;
    object-fit: cover;
    display: block;
}

.install-heading {
    color: var(--white-color);
}
.install-desc {
    color: var(--white-color);
}

.install__info {
    width: 50%;
}

.row-link {
    margin-top: 38px;
}

.btn-install {
    display: inline-block;
    width: 135px;
    height: 40px;
}

.btn-install--small {
    margin-left: 28px;
    width: 120px;
}
